@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap");
/* variable declaration */

/* Utility Classes */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Agdasima", sans-serif;
  color: white;
}

body {
  padding-inline: 20px;
  background-color: rgb(28, 27, 27);
}

